<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="foot" class="footer">
    <div style="width:300px;margin:0 auto; padding:20px 0;">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34040402000063"
           style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
            <img src="/images/beian.png" style="float:left;"/>
            <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                皖公网安备 34040402000063号
            </p>
        </a>
    </div>
    <div>Copyright © 2020 · Yuanwen ·
        <a href="http://www.beian.miit.gov.cn/">皖ICP备19000569号-2</a> ·
        All Rights Reserved
    </div>
</div>
</body>
</html>